{% load static %}
<section id="about" class="container p-5">
    <div
        class="sub-heading"
        data-aos="fade-down"
        data-aos-duration="1000"
    >
        ABOUT US
    </div>
    <div
        class="main-heading"
        data-aos="fade-up"
        data-aos-duration="1000"
    >
        Who We Are
    </div>
    <div
        class="heading-line"
        data-aos="fade-down"
        data-aos-duration="1000"
    ></div>

    <div class="row align-items-center">
        <div
            class="col-md-6"
            data-aos="fade-right"
            data-aos-duration="1000"
        >
            <p class="text-white">
                Welcome to our fitness community! At our gym, we are
                passionate about helping individuals of all fitness
                levels achieve their goals. With a supportive
                environment, experienced trainers, and state-of-the-art
                facilities, we strive to empower you on your fitness
                journey.
            </p>
            <p class="text-white">
                Our mission is to inspire and motivate you to lead a
                healthier and more active lifestyle. Whether you're a
                beginner or a seasoned athlete, we're here to provide
                personalized guidance and support every step of the way.
                Join us and embark on a path to a stronger, fitter, and
                happier you!
            </p>
        </div>
        <div
            class="col-md-6"
            data-aos="fade-left"
            data-aos-duration="1000"
        >
            <img
                src="{% static "assets/aboutimg1.jpg" %}"
                alt="about_image"
                class="img-fluid rounded-1"
            />
        </div>
    </div>
</section>