<section id="contact" class="container-fluid p-5">
    <div
        class="sub-heading"
        data-aos="fade-down"
        data-aos-duration="1000"
    >
        CONTACT US
    </div>
    <div
        class="main-heading"
        data-aos="fade-up"
        data-aos-duration="1000"
    >
        {{ info.phone }}
    </div>
    <div
        class="heading-line"
        data-aos="fade-down"
        data-aos-duration="1000"
    ></div>

    <a href="" class="btn btn-danger">CALL US NOW</a>
</section>