
<!-- Start of Sign In's Offcanvas Section -->
<div class="offcanvas offcanvas-end" id="loginOffcanvas">
    <div class="offcanvas-header">
        <button
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
        ></button>
    </div>

    <div class="offcanvas-body">
        <div class="sub-heading text-danger">LOGIN FORM</div>
        <div class="heading-line"></div>

        <form action="" method="">
            <div class="mb-3">
                <label>Email</label>
                <input
                    type="text"
                    class="form-control border border-danger"
                />
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input
                    type="password"
                    class="form-control border border-danger"
                />
            </div>

            <button class="btn btn-danger float-end">
                <i class="bi bi-send-fill"></i> Sign In
            </button>
        </form>
    </div>
</div>
<!-- End of Sign In's Offcanvas Section -->

<!-- Start of Register's Offcanvas Section -->
<div class="offcanvas offcanvas-end" id="registerOffcanvas">
    <div class="offcanvas-header">
        <button
            class="btn-close text-reset"
            data-bs-dismiss="offcanvas"
        ></button>
    </div>

    <div class="offcanvas-body">
        <div class="sub-heading text-danger">REGISTERATION FORM</div>
        <div class="heading-line"></div>

        <form action="" method="">
            <div class="mb-3">
                <label>Name</label>
                <input
                    type="text"
                    class="form-control border border-danger"
                />
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input
                    type="text"
                    class="form-control border border-danger"
                />
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input
                    type="password"
                    class="form-control border border-danger"
                />
            </div>

            <div class="mb-3">
                <label>Confirm Password</label>
                <input
                    type="confirmpassword"
                    class="form-control border border-danger"
                />
            </div>

            <button class="btn btn-danger float-end">
                <i class="bi bi-send-fill"></i> Sign Up
            </button>
        </form>
    </div>
</div>