{% load static %}
<header id="header">
    <video src="{% static "assets/headervideo1.mp4" %}" autoplay loop muted></video>

    <div class="overlay"></div>
    <div class="container py-5">
        <h1
            class="text-white"
            style="font-size: 5rem"
            data-aos="fade-right"
            data-aos-duration="2000"
        >
            BE FITNESS
        </h1>
        <h3
            class="text-white"
            style="font-size: 3rem"
            data-aos="fade-left"
            data-aos-duration="2000"
        >
            & BE STRONG
        </h3>
        <p
            class="text-white"
            style="max-width: 500px"
            data-aos="fade-right"
            data-aos-duration="2000"
        >
            Embarking on a fitness journey requires dedication,
            consistency, and a positive mindset. By setting achievable
            goals, staying committed to regular exercise, and
            maintaining a balanced diet, individuals can experience
            significant improvements in their overall health and
            well-being. With perseverance and the right support system,
            anyone can reach their fitness aspirations and lead a
            fulfilling, active lifestyle.
        </p>
        <a
            href="#registerOffcanvas"
            data-bs-toggle="offcanvas"
            class="btn btn-danger"
            data-aos="fade-left"
            data-aos-duration="2000"
        >
            JOIN US
        </a>
    </div>
</header>