{% load static %}

<section id="testimonial" class="container p-5">
    <div
        class="sub-heading"
        data-aos="fade-down"
        data-aos-duration="1000"
    >
        TESTIMONIAL
    </div>
    <div
        class="main-heading"
        data-aos="fade-up"
        data-aos-duration="1000"
    >
        What Our Clients Say
    </div>
    <div
        class="heading-line"
        data-aos="fade-down"
        data-aos-duration="1000"
    ></div>

    <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
    >
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
            ></button>
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row gy-2">
                    <div class="col-lg-6" data-aos="flip-right">
                        <div
                            class="card border-0 bg-dark overflow-hidden"
                        >
                            <div class="row">
                                <div class="col-sm-7 py-3 px-4">
                                    <h4 class="text-light">Alice</h4>
                                    <h6 class="text-warning">CLIENT</h6>
                                    <p class="text-light">
                                        "Joining this gym has been
                                        life-changing for me. The
                                        trainers are incredibly
                                        supportive, and the variety of
                                        classes keeps me motivated to
                                        come back every day."
                                    </p>
                                    <div class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <img
                                        src="{%static 'assets/customer1.webp' %}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" data-aos="flip-left">
                        <div
                            class="card border-0 bg-dark overflow-hidden"
                        >
                            <div class="row">
                                <div class="col-sm-7 py-3 px-4">
                                    <h4 class="text-light">Becca</h4>
                                    <h6 class="text-warning">CLIENT</h6>
                                    <p class="text-light">
                                        "I'm so grateful to have found
                                        this gym. The atmosphere is
                                        welcoming, and the trainers
                                        genuinely care about helping you
                                        achieve your goals. It's more
                                        than just a gym; it's a
                                        community."
                                    </p>
                                    <div class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <img
                                    src="{%static 'assets/customer2.webp' %}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row gy-2">
                    <div class="col-lg-6" data-aos="flip-right">
                        <div
                            class="card border-0 bg-dark overflow-hidden"
                        >
                            <div class="row">
                                <div class="col-sm-7 py-3 px-4">
                                    <h4 class="text-light">Emily</h4>
                                    <h6 class="text-warning">CLIENT</h6>
                                    <p class="text-light">
                                        "The classes at this gym are
                                        fantastic! I've never felt so
                                        motivated to work out before.
                                        The trainers are knowledgeable
                                        and encouraging, and I love the
                                        variety of workout options
                                        available."
                                    </p>
                                    <div class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <img
                                        src="{%static 'assets/customer3.webp' %}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" data-aos="flip-left">
                        <div
                            class="card border-0 bg-dark overflow-hidden"
                        >
                            <div class="row">
                                <div class="col-sm-7 py-3 px-4">
                                    <h4 class="text-light">Sophia</h4>
                                    <h6 class="text-warning">CLIENT</h6>
                                    <p class="text-light">
                                        "Joining this gym was the best
                                        decision I've ever made for my
                                        health. The staff are friendly
                                        and approachable, and the
                                        facilities are top-notch. I've
                                        seen amazing results since
                                        becoming a member here."
                                    </p>
                                    <div class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <img
                                    src="{%static 'assets/customer4.webp' %}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="carousel-item">
                <div class="row gy-2">
                    <div class="col-lg-6" data-aos="flip-right">
                        <div
                            class="card border-0 bg-dark overflow-hidden"
                        >
                            <div class="row">
                                <div class="col-sm-7 py-3 px-4">
                                    <h4 class="text-light">Olivia</h4>
                                    <h6 class="text-warning">CLIENT</h6>
                                    <p class="text-light">
                                        "I've been a member of this gym
                                        for over a year now, and I
                                        couldn't be happier with my
                                        experience. The trainers are
                                        dedicated to helping you reach
                                        your fitness goals, and the
                                        sense of community among members
                                        is truly inspiring."
                                    </p>
                                    <div class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <img
                                    
                                    src="{%static 'assets/customer5.avif' %}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6" data-aos="flip-left">
                        <div
                            class="card border-0 bg-dark overflow-hidden"
                        >
                            <div class="row">
                                <div class="col-sm-7 py-3 px-4">
                                    <h4 class="text-light">Ava</h4>
                                    <h6 class="text-warning">CLIENT</h6>
                                    <p class="text-light">
                                        "This gym has exceeded my
                                        expectations in every way. The
                                        equipment is top-of-the-line,
                                        the classes are challenging yet
                                        enjoyable, and the staff go
                                        above and beyond to ensure you
                                        feel supported on your fitness
                                        journey."
                                    </p>
                                    <div class="text-warning">
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-fill"></i>
                                        <i class="bi bi-star-half"></i>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <img
                                        src=" {%static 'assets/customer6.avif' %}"
                                        class="img-fluid"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"
        >
            <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
            ></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next"
        >
            <span
                class="carousel-control-next-icon"
                aria-hidden="true"
            ></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>